<div class="row">
    <div class="col-md-12">

        <div class="input-group">
            <input class="form-control" aria-describedby="addCont"  type="text" placeholder="Search..." ng-model="searchText"></label>
            <span class="input-group-addon" id="addCont" ng-click="addContact();" ><i class="fa fa-user-plus"></i></span>
        </div>

        <contacts></contacts>
        
    </div>
</div>

<script type="text/ng-template" id="contactsModal.html">
    <div class="modal-body">
        <div>
            <a href="#" editable-text="contact.name">{{ contact.name || 'empty' }}</a>
        </div>
        <div>
            <a href="#" editable-text="contact.number">{{ contact.number || 'empty' }}</a>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="save();">Save</button>
        <button class="btn btn-warning" ng-click="cancel();">Cancel</button>
    </div>
</script>